{% extends 'base.html' %}

{% block icon %}
<link rel="shortcut icon" href={{icon}} type="image/x-icon">
{% endblock %}
{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block body %}
<!--body-->
<p>Welcome to What to fold!</p>
<p>The goal of this website is to find origami models, to choose what to fold.</p>
<p>The website offers origami models ranging from simple to complex, also providing tutorials, diagrams, and crease patterns, as well as recommendations for the best paper to use.</p>
<p>From origamist for origamists</p>
{% endblock %}