{% extends 'base.html' %}

{% block icon %}
<link rel="shortcut icon" href={{icon}} type="image/x-icon">
{% endblock %}
{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block body %}
<!--body-->
<p>There are a lot of origami models and each one requires different blabla bla</p>
<p>Getting started:
Explanation of basic origami terminology (folds, creases, flaps, etc.).
Overview of different types of origami paper and where to purchase them.
Basic tools you might need (scissors, ruler, bone folder, etc.).
Origami techniques:
Step-by-step instructions on basic origami techniques (valley folds, mountain folds, reverse folds, etc.).
Detailed instructions for folding specific models (e.g. crane, frog, flower).
Video tutorials for more complex models.
Troubleshooting:
Common mistakes and how to avoid them (e.g. incorrect crease lines, paper tearing).
Tips for working with different types of paper (e.g. tissue paper, foil paper).
Frequently asked questions:
Answers to common questions about origami techniques and models.
Resources:
Links to other helpful websites, blogs, and forums for origami enthusiasts.
Contact us:
Information on how to get in touch with the website owner or support team with questions or feedback.</p>
{% endblock %}