<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--card thing - image n text-->
	<article class="card">
    <div class="temporary_text">
        <img src="https://pbs.twimg.com/media/FZADvE0WYAIkkiO?format=jpg&name=medium" width="98%", height="100%">
    </div>
<div class="card_content">
    <span class="card_title">{{d[1]}}</span>
        <span class="card_subtitle">{{d[2]}}</span>
        <p class="card_description">{{d[3]}}</p>
		</div>
		</article>
<!-- card flip -->
	<div class="flip-card">
    		<div class="flip-card-inner">
        	<div class="flip-card-front">
            	<p class="title">{{d[1]}}</p>
            	<img src="https://pbs.twimg.com/media/FZADvE0WYAIkkiO?format=jpg&name=medium" width="90%", height="100%">
        	</div>
        	<div class="flip-card-back">
            	<p class="title">BACK</p>
            	<p>Leave Me</p>
        	</div>
    	</div>
	</div>
</body>
</html>